---
import Section from "../components/Section.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import TitleSection from "../components/TitleSection.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Skills from "../components/Skills.astro";
import Project from "../components/Project.astro";
import About from "../components/About.astro";

import Briefcase from "../assets/icons/Briefcase.astro";
import GraduationCap from "../assets/icons/GraduationCap.astro";
import Braces from "../assets/icons/Braces.astro";
import Folder from "../assets/icons/Folder.astro";
import User from "../assets/icons/User.astro";
---

<Layout
    title="Javier's Portfolio"
    description="Software engineer, focused on scalable web platforms and reliable software solutions."
>
    <main>
        <Section class="min-h-screen flex items-center">
            <Hero />
        </Section>
        <Section id="experience">
            <TitleSection>
                <Briefcase class="size-8" />
                Experience
            </TitleSection>
            <Experience />
        </Section>
        <Section id="education">
            <TitleSection>
                <GraduationCap class="size-8" />
                Education
            </TitleSection>
            <Education />
        </Section>
        <Section id="projects">
            <TitleSection>
                <Folder class="size-8" />
                Featured Projects
            </TitleSection>
            <Project />
        </Section>
        <Section id="skills">
            <TitleSection>
                <Braces class="size-8" />
                Skills & Technologies
            </TitleSection>
            <Skills />
        </Section>
        <Section id="about">
            <TitleSection>
                <User class="size-8" />
                About Me
            </TitleSection>
            <About />
        </Section>
    </main>
</Layout>
